h1 {
    color: #bc667b;
    font-family: monospace;
    text-align: center; /* makes my h1 text in the middle of the page*/
    font-size: 50px;
}
body{
    margin: 0px;
    background-image: url("Images/hello.png"); /*adds a background image*/
    background-attachment: fixed; /*makes my background in a fixed position, so when I scroll, it doesnt duplicate or move with it*/
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}
main{
    margin: 20px; /*body margin is 0px so nav bar covers full page and main in 20px so the rest of the website has a margin*/
}

header {
  display: flex; /*makes the logo a lex container than I can move around and adjust*/
  align-items: center; /*as I don't want my header to take up all available space*/
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: #bc667b;
    padding: 25px;
    margin 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li{
    flex: 1
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: inline-block
    text-align: center;
    transition: background-color 0.5s ease;
}
nav a:hover {
  background-color: #330000;
}

.flexbox-container {
  display: flex;
  max-width: 1500px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px;
}

.flexbox-container div img {
    width: 450px;
    height: 250px;
    display: block;
}

.nz-sea-lion img{
  margin-top: 80px;
}

.logo {
  display: flex;
  max-width: 500px; /*makes sure that the logo doesnt exceed this value, it will accommodate to fit screen sizes that don't*/
  margin: 0
}

.logo img {
  max-width: 100%; /*makes sure the logo takes up all te space it can but as the code says above, it wil not exceed 500px*/
  height: auto;
}
