h1, p {
    color: #367EA5;
    font-family: revert-layer calibre Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
body{
    background-color: #738276;
}
nav {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 20px;
    font-family: Impact, 'Times New Roman', Times, serif;
    font-weight: lighter;
    left: 10%;
    bottom: 10%;
}
a:link{
    color: #99B3C7;
}
a:visited {
    color: #202024;
}
a:hover {
    color: #7090b1;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container> div{
  background-color: #aeb6a0;
  color: white;
  width: 500px;
  margin: 5px;
  text-align: center;
  line-height: 300px;
}