body{
    background-color: #738276;
    margin: 0px;
    background-image: url("Images/background.png");
}
main{
    margin: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: #bc667b;
    padding: 25px;
    margin 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li{
    flex: 1
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block
    text-align: center;
}

nav a:hover {
  background-color: #330000;
}
.logo {
  display: flex;
  max-width: 500px;
  margin: 0
}

.logo img {
  max-width: 100%;
  height: auto;
}