/*styles background*/
body{
    background-color: #738276;
    margin: 0px; /*so nav bar takes up all available space */
    background-image: url("Images/background.png");/*adds background image*/
    background-attachment: fixed;
    background-repeat: no-repeat;/*makes sure it doesnt repeat as users scroll and is foxed in position*/
    background-size: cover;/*covers whole screen*/
    overflow-y: scroll;
}
main{
    margin: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
/*styles unordered list for nav bar*/
.navbar ul{
    list-style-type: none;
    background-color: #bc667b;
    padding: 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;/*spaces items evenly*/
    align-items: center;
}

.navbar li{
    flex: 1
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    text-align: center;
}

nav a:hover {
  background-color: #330000;
}
/*styles img - makes sure it appears right on screen*/
.logo {
  display: flex;
  max-width: 500px;
  margin: 0
}

.logo img {
  max-width: 100%;
  height: auto;
}
/*styles text of my container-items*/
h1, p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}
/*uses container grid property to make 2d layouts. Makes evenly spaced columns with 50px between each row*/
.container {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  padding: 10px;
}

/*styles containers: adds a background colour, padding for content inside and slightly rounds the corners  */
.container > div {
  padding: 30px;
  background-color: #bc667b;
  border-radius: 5px;

}
/*makes all images and videos take up 100% with matching height ratio*/
.maui-dolphin-pics img{
    width: 100%;
    height: 100%;
}
.maui-dolphin h1{
    font-size: 30px;
}
/*makes all pics' width 100% and adjusts height proportionately  */
.threats-pics img{
    width: 100%;
    height: auto;
}

.solutions-video iframe{
    width: 100%;
    height: 100%;
    border: 0; /*removes border around video*/
}

/*styles solutions section as it was not applied in h1, p style as its an unordered list*/
.solutions li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
